
.ferrari{
position: fixed;
top: 65%;
left: 5%;
}
.lambo{
position: fixed;
top: 65%;
left: 54%;
}
.aston{
position: fixed;
top: 43%;
left: 5%;
}
.Bugatti{
position: fixed;
top: 43%;
left: 74%;
}
.audi{
position: fixed;
top: 43%;
left: 22%;
}
.bently{
position: fixed;
top: 39%;
left: 36%;
}
.bmw{
position: fixed;
top: 43%;
left: 59%;
}
.chevrolet{
position: fixed;
top: 43%;
left: 90%;
}
.fiat{
position: fixed;
top: 65%;
left: 24%;
}
.ford{
position: fixed;
top: 65%;
left: 39%;
}
.landrover{
position: fixed;
top: 65%;
left: 70%;
}
.mclaren{
position: fixed;
top: 65%;
left: 85%;
}
.mercedes{
position: fixed;
top: 84%;
left: 2%;
}
.mini{
position: fixed;
top: 84%;
left: 20%;
}
.nissan{
position: fixed;
top: 84%;
left: 38%;
}
.pagani{
position: fixed;
top: 80%;
left: 47%;
}
.grey{
position: fixed;
top: 340px;
}
.renault{
position: fixed;
top: 84%;
left: 72%;
}
.tesla{
position: fixed;
top: 84%;
left: 85%;
}
.arrow{
position: fixed;
top: 93.5%;
left: 60%;
}
.toyota{
position: fixed;
top: 42%;
left: 2%;
}
.volkswagen{
position: fixed;
top: 41%;
left: 20%;
}
.volvo{
position: fixed;
top: 43%;
left: 40%;
}
.previous{
position: fixed;
top: 93.5%;
left: 60%;
}
.logo{
position: fixed;
top:  -10%;
left: 25%;
}
.welcome{
position= absolute;
top: 250px;
left: 400px;
}


