@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 
.ferrari{
position: fixed;
top: 580px;
left: 100px;
}
.lambo{
position: fixed;
top: 575px;
left: 900px;
}
.aston{
position: fixed;
top: 380px;
left: 100px;
}
.Bugatti{
position: fixed;
top: 380px;
left: 1200px;
}
.audi{
position: fixed;
top: 360px;
left: 365px;
}
.bently{
position: fixed;
top: 340px;
left: 665px;
}
.bmw{
position: fixed;
top: 370px;
left: 965px;
}
.chevrolet{
position: fixed;
top: 370px;
left: 1400px;
}
.fiat{
position: fixed;
top: 575px;
left: 400px;
}
.ford{
position: fixed;
top: 575px;
left: 665px;
}
.landrover{
position: fixed;
top: 565px;
left: 1145px;
}
.mclaren{
position: fixed;
top: 575px;
left: 1400px;
}
.mercedes{
position: fixed;
top: 750px;
left: 50px;
}
.mini{
position: fixed;
top: 750px;
left: 340px;
}
.nissan{
position: fixed;
top: 750px;
left: 700px;
}
.pagani{
position: fixed;
top: 700px;
left: 800px;
}
.grey{
position: fixed;
top: 340px;
}
.renault{
position: fixed;
top: 750px;
left: 1200px;
}
.tesla{
position: fixed;
top: 750px;
left: 1450px;
}
.arrow{
position: fixed;
top: 840px;
left: 900px;
}
.toyota{
position: fixed;
top: 380px;
left: 40px;
}
.volkswagen{
position: fixed;
top: 350px;
left: 250px;
}
.volvo{
position: fixed;
top: 350px;
left: 590px;
}
.previous{
position: fixed;
top: 840px;
left: 900px;
}
.logo{
position: fixed;
top: -250px;
left: 400px;
}
.welcome{
position= absolute;
top: 250px;
left: 400px;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


